<h1><%= @post.title %></h1>
<div class="bodytext">
    <p><%= @post.body %></p>
</div>
<div class="postauthor">
    <p><%= @post.username %></p>
</div>
<div class="comments">
<h3>Comments (<%= @post.comment.size %>)</h3>
<%= render partial: 'posts/comment', collection: @post.comment %>
<%= link_to "Edit comment", edit_post_comment_path(@post.comment) %>
<%= link_to "Delete Post", post_comment_path(@post.comment), method: :delete, data: {confirm: "Really delete the comment?"} %>
</div>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Users List", posts_path %>
<%= link_to "Edit Post", edit_post_path(@post) %>
<%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Really delete the post?"} %>